* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "sf";
}
.navigation-gen {
  background-color: rgba(22, 22, 23, 0.651);
  transition-delay: 0.1s;
  font-size: 14px;
}
.navigation:hover {
  background-color: black;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15%;
  list-style: none;
}
.navigation ul:last-child svg {
  fill: white;
  width: 20px;
  opacity: 0;
}
.navigation a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}
.navigation a:hover {
  color: white;
}
.navigation svg {
  fill: rgb(200, 200, 200);
}
.navigation svg:hover {
  fill: white;
}
.products ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 15%;
  align-items: center;
  list-style: none;
}
.products a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  transition-delay: 0.1s;
}
.products a:hover {
  color: #06c;
}

.iphone-gen {
  background-color: #d2d2d745;
}
.iphone-14-pro img {
  width: 40px;
}
.iphone-14 img {
  width: 38px;
}
.iphone-13 img {
  width: 36px;
}
.iphone-se img {
  width: 19px;
}
.iphone-12 img {
  width: 22px;
}
.compare img {
  width: 45px;
}
.airpods img {
  width: 39px;
}
.airtag img {
  width: 30px;
}
.ios img {
  width: 32px;
}
.shop img {
  width: 58px;
}
.products {
  text-align: center;
}
.iphone-14-pro p::after {
  content: "new";
  display: block;
  color: #bf4800;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
.iphone-14 p::after {
  content: "new";
  display: block;
  color: #bf4800;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
.iphone-14-news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
.news h2 {
  font-size: 12px;
  color: #6e6e73;
}
.iphone-model {
  font-size: 21px;
  font-weight: 600;
  user-select: none;
}

.news a {
  font-size: 19px;
  color: #06c;
  text-decoration: none;
}
.news a:hover {
  text-decoration: underline;
}
.news a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 44px;
  background-image: linear-gradient(
    90deg,
    #2ca2b4,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43
  );
  overflow-x: hidden;
  margin: 20px 0;
}
.new-iphone-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.new-iphone {
  display: flex;
  justify-content: center;
  width: 50%;
}
.new-iphone img {
  width: 100%;
  object-fit: cover;
}
.iphone-14-pro-news {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
.gradient-pro {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 44px;
  background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
  overflow-x: hidden;
  margin: 20px 0;
}
.bg-black {
  background-color: black;
}
.iphone-model-pro {
  font-size: 21px;
  font-weight: 600;
  user-select: none;
  color: white;
}
.pro-news {
  margin-top: 100px;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.se-bg {
  background-color: #fbfbfd;
}
.iphone-se-news {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iphone-model-se {
  font-size: 21px;
  font-weight: 600;
  user-select: none;
}
.iphone-model-se span {
  border: 2px solid;
  padding: 3px;
  border-radius: 10px;
  font-size: 16px;
}
.gradient-se {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 44px;
  background-image: linear-gradient(
    90deg,
    #1e3791 0%,
    #2948b1 40%,
    #3153c6 55%,
    #385fda 60%
  );
  overflow-x: hidden;
  margin: 20px 0;
}
.se-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
.new-iphone-wrapper-se {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.new-iphone-se {
  display: flex;
  justify-content: flex-end;
}
.new-iphone-se img {
  width: 50%;
  object-fit: cover;
}
.se-news {
  text-align: center;
  width: 50%;
}
.choose-iphone-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.choose-iphone-header {
  text-align: center;
  font-size: 48px;
  margin-top: 50px;
}
.compare-iphone-wrapper {
  padding: 0 5%;
  display: flex;
  justify-content: center;
}
.compare-iphone {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 30px;
  margin-top: 50px;
  align-items: baseline;
}
.iphone-for-compare {
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.461);
}
.buy-button {
  margin: 30px 0;
}
.buy-button a {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #06c;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}
.buy-button a:hover {
  background-color: rgb(69, 150, 231);
}
.read-only-14-pro {
  font-size: 22px;
  font-weight: 600;
  user-select: none;
  margin-bottom: 10px;
}
.comp-phone-text {
  font-size: 16px;
}
.iphone-for-compare > a {
  font-size: 22px;
  margin-top: 40px;
  text-decoration: none;
  color: #06c;
}
.iphone-for-compare > a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.iphone-for-compare > a:hover {
  text-decoration: underline;
}
.iphone-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.iphone-colors::after {
  content: "new";
  display: flex;
  color: #bf4800;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  margin-top: -20px;
}
.iphone-color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 20px 0;
}
.purple {
  background-color: rgb(118, 4, 118);
}
.gold {
  background-color: rgb(174, 157, 84);
}
.silver {
  background-color: rgb(168, 160, 136);
}
.black {
  background-color: rgb(10, 11, 12);
}
.red {
  background-color: rgb(230, 73, 73);
}
.green {
  background-color: rgb(13, 104, 13);
}
.iphone-old-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.read-only-14-pro span {
  border: 2px solid;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 24px;
}
/* .comp-se .read-only-14-pro p {
  padding-top: 203px;
} */
.iphone-old-colors::after {
  content: "new";
  display: flex;
  color: transparent;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  margin-top: -20px;
}
.iphone-for-compare img {
  width: 150px;
  /* width: 50%; */
}
.screen-size {
  border-top: 2px solid#6e6e73;
  margin-top: 20px;
}
.screen-size p {
  margin-top: 10px;
}
.dynamic-island {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  margin: 50px auto;
}
.dynamic-island img {
  width: 50px;
  margin-bottom: 10px;
}
.dynamic-island p {
  margin-top: 10px;
}
.sos img {
  width: 50px;
}
.sos p {
  margin-top: 10px;
}
.iphone-camera {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 200px;
  margin: 50px auto;
}
.iphone-camera img {
  width: 50px;
  align-self: center;
}
.iphone-camera p {
  margin-top: 10px;
}
.battery img {
  width: 50px;
  margin-bottom: 10px;
}
.chip img {
  width: 50px;
  margin-bottom: 10px;
}
.chip {
  margin-top: 40px;
}
.face-id {
  margin-top: 40px;
}
.face-id img {
  width: 50px;
  margin-bottom: 10px;
}
.transparent {
  color: transparent;
  user-select: none;
}
.gen-5 {
  margin-top: 40px;
}
.gen-5 img {
  width: 65px;
  margin-bottom: 10px;
}
.comp-shop-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 24px;
  margin: 50px 0;
}
.comp-shop-links a {
  text-decoration: none;
  color: #06c;
}
.comp-shop-links a:hover {
  text-decoration: underline;
}
.comp-shop-links a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.bg-gray {
  background-color: #fbfbfd;
}
.accessories {
  margin: 0 auto;
  padding: 0 5%;
}
.accessories-header {
  display: flex;
  justify-content: center;
  font-size: 52px;
}
.accessories-header h3 {
  margin: 50px 0;
}
.accessories-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  overflow-x: hidden;
  margin: 50px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.2);
}
.accessories-image {
  width: 50%;
}
.accessories-text {
  text-align: center;
  width: 390px;
  margin: 0 auto;
}
.accessories-text h5 {
  font-size: 42px;
}
.accessories-text p {
  font-size: 32px;
  margin: 20px 0;
}
.accessories-text a {
  color: #06c;
  text-decoration: none;
  font-size: 28px;
}
.accessories-image img {
  width: 110%;
}
.accessories-text a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.accessories-image-airpods {
  width: 100%;
}
.accessories-image-airpods {
  display: flex;
  justify-content: center;
}
.accessories-image-airpods img {
  width: 110%;
  object-fit: cover;
}
.accessories-text-relative {
  position: absolute;
  text-align: center;
  width: 390px;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  /* margin-top: 40px; */
}
.accessories-container-relative {
  position: relative;
  display: flex;
  background-color: white;
  overflow-x: hidden;
  /* margin: 50px 0; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.2);
}

.accessories-text-relative h5 {
  font-size: 42px;
}
.accessories-text-relative p {
  font-size: 32px;
  margin: 20px 0;
}
.accessories-text-relative a {
  color: #06c;
  text-decoration: none;
  font-size: 28px;
}
.accessories-text-relative a:hover {
  text-decoration: underline;
}
.accessories-text a:hover {
  text-decoration: underline;
}
.accessories-text-relative a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.commercial-header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 80px 0;
}
.iphone-commercial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.commercial-full-container {
  width: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 0 5%;
  overflow-x: hidden;
}
.ios-comm-text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}
.commercial-full-container img {
  width: 100%;
  object-fit: cover;
}
.ios-comm-text h5 {
  font-size: 48px;
}
.ios-comm-text p {
  font-size: 20px;
  margin: 10px 0;
}
.ios-comm-text a {
  font-size: 22px;
  text-decoration: none;
  color: #06c;
}
.ios-comm-text a:hover {
  text-decoration: underline;
}
.ios-comm-text a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.commercial-container {
  margin: 100px 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 0 5%;
}
.commercial-half-container {
  width: 50%;
  position: relative;
  min-height: 500px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.2);
}
.commercial-half-container img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
}
.switching-text {
  position: absolute;
  z-index: 1;
  width: 390px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.switching-text h5 {
  font-size: 40px;
}
#iphoneInHands {
  object-fit: cover;
}
.commercial-half-container-right img {
  height: 100%;
}
.privacy-text {
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.privacy-text h5 {
  font-size: 38px;
}
.privacy-text a {
  color: white;
}
.commercial-container a {
  text-decoration: none;
}
.commercial-container a:hover {
  text-decoration: underline;
}
.commercial-half-container-left a::after {
  content: "";
  border: solid #06c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
.commercial-half-container-right a::after {
  content: "";
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-bottom: 2px;
}
@media (max-width: 1100px) {
  .iphone-se-news {
    flex-direction: column;
  }
  .compare-iphone {
    flex-wrap: wrap;
  }
  .commercial-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .navigation ul:last-child svg {
    opacity: 1;
  }
  .navigation ul > *:not(:first-child):not(:last-child) {
    display: none;
  }
  .products ul {
    overflow: auto;
    padding: 10px 0;
  }
  .products ul li {
    padding: 0 30px;
    min-width: 75px;
  }
  .products li p {
    text-align: center;
  }
}

@media (max-width: 963px) {
  .compare-iphone {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .gradient-se {
    font-size: 32px;
  }
  .gradient-pro {
    font-size: 32px;
  }
  .gradient {
    font-size: 32px;
  }
  .choose-iphone-header {
    font-size: 22px;
  }
  .accessories-header {
    font-size: 24px;
  }
  .accessories-container h5 {
    font-size: 30px;
  }
  .accessories p {
    font-size: 16px;
  }
  .accessories a {
    font-size: 14px;
  }
  .accessories-container-relative h5 {
    font-size: 30px;
  }
  .commercial-header {
    font-size: 22px;
    text-align: center;
  }
  .iphone-commercial h5 {
    font-size: 22px;
  }
  .iphone-commercial p {
    font-size: 18px;
  }
  .iphone-commercial a {
    font-size: 14px;
  }
  .switching-text {
    width: 50%;
  }
  .commercial-half-container {
    width: 100%;
  }
  .accessories-text-relative {
    width: 350px;
  }
}
